body{
	background-color: #8A967E;
	margin-top: 120px;
}
header {
	display: flex;
	
	width: 100%;
	position: fixed;
	box-sizing: border-box;
	top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    

}
header nav {
	font-weight: 300px
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
	font-family: Garamond;
	flex-direction: column;
}
	
img {
	width: 50px;
	height: 30px;
}
h1 {
	font-family: Garamond;
	font-style: bold;
	text-shadow: uppercase;
	font-size: 45px;
	font-weight: 350px;
	text-align: left;
}

h2 {
	font-family: Garamond;
	font-style: bold;
	font-size: 40px;
}
#hero {
	text-align: center;
	padding-top: 20px;

}
form {
	display: block;
}
#hero input[type="email"] {
	width: 100%;
	max-width: 250px;
}
.btn {
	background: #5A8A62;
	 border-radius: 1.5rem;
    border: none;
    width: 120px;
    font-weight: 600;
    color: #000000;
    margin-top: 20px;
    padding: 10px;
}
p {
	font-family: Garamond;
    font-size: 19px;	
}
#features {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 20px;
}
#work-pattern {
	align-items: center;
}

#pricing {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 20px;
}
ol {
   font-family: Garamond;
   font-size: 20px;

}

footer nav ul{
	display: block;
	flex-direction: row;
	text-align: left;
	font-family: Garamond;
}

h3 {
	font-family: Garamond;
	text-align: center;
}